html {
    background-color: black;
    color: rgb(7, 108, 7);
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border:rgb(7, 108, 7) 2px double;
}

#title {
    text-align: center;
    text-transform: uppercase;
    /* margin: auto; */
}

.nav-bar ul {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 3em;
    padding: 0;
}

.nav-bar li {
    margin: 0;
    text-align: center;
}

.nav-bar li a {
    text-decoration: none;
    color: rgb(7, 108, 7);
}