html {
    background-color: black;
    color: rgb(7, 108, 7);
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border:rgb(7, 108, 7) 2px double;
}

#title {
    text-align: center;
    text-transform: uppercase;
    /* margin: auto; */
}

.nav-bar ul {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 3em;
    padding: 0;
}

.nav-bar li {
    margin: 0;
    text-align: center;
}

.nav-bar li a {
    text-decoration: none;
    color: rgb(7, 108, 7);
}

.nav-bar ul li a:hover {
    color: rgb(204, 255, 0);

}

.overview {
    background-color: rgb(7, 108, 7);
    color: black;
    border: black 0.25em double;
    word-spacing: 0.25em;
    letter-spacing: 0.05em;
    margin: 0.5em;
}
.overview h3 {
    text-align: center;
    text-transform: uppercase;
}
.overview p {
    text-align: center;
}
.overview ul {
    list-style: none;
    padding: 1em;
}
.overview ul li {
    margin-bottom: 1em;
    text-align: justify;
    /* word-spacing: 0.25em;
    letter-spacing: 0.05em; */
    
}
.guide {
    text-align: center;
    font-size: larger;
    text-transform: uppercase;
    margin: auto;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    color: rgb(204, 255, 0);
}

.section {
    word-spacing: 0.25em;
    letter-spacing: 0.05em;
    border:rgb(7, 108, 7) 0.5em double;
    margin: 0.5em;
}
.section-title {
    text-transform: uppercase;
    text-align: center;

}
.section-text, .section-summary {
    text-align: justify;
    padding-left: 0.5em;
    padding-right: 0.5em;

}
.section-summary{


}