html {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: rgb(7, 108, 7);
}

header {
    width: 100%;
    border: 2px rgb(7, 108, 7) double;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 10px;
}

.intro {
    display: flex;
    width: 100%;
    margin: auto;
    background-color: rgba(10, 128, 10, 0.787);
    text-align: center;
    border: black 2px double;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}

.intro p {
    color: black;
    word-spacing: 0.1em;
    letter-spacing: 0.05em;
    /* font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    padding-left: 5em;
    padding-right: 5em;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
    font-size: 1.5em;
}

/* #coffee-cup-gif {
    width: 10em;
    height: 10em;
} */

#title {
    text-transform: uppercase;
    letter-spacing: 2px;
}

.nav-bar ul {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 3em;
    padding: 0;
}

.nav-bar li {
    margin: 0;
    text-align: center;
}

.nav-bar li a {
    text-decoration: none;
    color: rgb(7, 108, 7);
}

.nav-bar ul li a:hover {
    color: rgb(204, 255, 0);

}

.guide {
    width: 100%;
    text-align: center;
    font-size: 1.5em;
    margin: auto;
    color:rgb(204, 255, 0);
}

.container {
    display: flex;
    flex-direction: row;
    width: 100%;
    border: 2px rgb(7, 108, 7) double;
}

.section {
    width: 100%;
    height: auto; /* just for testing if the sections work, will remove later */
    /* border: 2px red double; */
    border: 1px rgb(7, 108, 7) solid;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15rem;
    
}

.section-text {
    text-align: center;
    word-spacing: 2px;
    letter-spacing: 2px;
}

.section-text a {
    text-decoration: none;
}

.section-text p {
    text-align: justify;
    padding-left: 10px;
    padding-right: 10px;
}

.link-titles {
    letter-spacing: 2px;
    text-transform: uppercase;
    color: rgb(7, 108, 7);
}

@media (max-width: 320px) {
    .intro p {
        padding: 0.1em;
        font-size: medium;
    }
    .nav-bar ul {
        flex-direction: column;
        align-items: center;
        gap: 0;
    }
    .nav-bar li {
        margin: 5px 0; /* Adjust the margin as needed for spacing */
    }
}

@media (max-width: 425px) {
    .intro p {
        font-size: medium;
    }
}

@media (max-width: 768px) {
    .intro p {
        padding-left: 0.5em;
        padding-right: 0.5em;
    }
    .container {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 1024px) {
    .intro p {
        padding-left: 1em;
        padding-right: 1em;
    }
}

