html {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: rgb(7, 108, 7);
}

header {
    width: 100%;
    border: 2px rgb(7, 108, 7) double;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 10px;
}

#title {
    text-transform: uppercase;
    letter-spacing: 2px;
}

.container {
    display: flex;
    flex-direction: row;
    width: 100%;
    border: 2px rgb(7, 108, 7) double;
}

.section {
    width: 100%;
    height: auto; /* just for testing if the sections work, will remove later */
    /* border: 2px red double; */
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-text {
    text-align: center;
    word-spacing: 2px;
    letter-spacing: 2px;
}

.section-text a {
    text-decoration: none;
}

.link-titles {
    letter-spacing: 2px;
    text-transform: uppercase;
    color: rgb(7, 108, 7);
}


